*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
}
.grid{
    display: grid;
    grid-template-columns: repeat(20,30px);
    grid-template-rows: repeat(20,30px);
    gap: 1px;
}
.cell{
    width: 30px;
    height: 30px;
    background-color: white;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    cursor: pointer;
}
.start{
    background-color: green;
}
.end{
    background-color: red;
}
.obstacle{
    background-color: black;
}
.path{
    background-color: yellow;
    
}
.path-button{
    background-color: aliceblue;
    cursor: pointer;
    width: 70px;
    height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  border-radius: 5px;
}